@model List<AlooModel>

@{
    ViewData["Title"] = "Listagem Aloo";
}



<div id="aloosTable">
    <!-- Conteúdo da tabela aqui -->
    <table class="display table table-striped table-hover table-dark caption" id="example">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">DIAS</th>
                <th scope="col">ESCOLA</th>
                <th scope="col">CIRCUITO</th>
                <th scope="col">IP</th>
            </tr>
        </thead>
        <tbody>
            <!-- Linhas da tabela aqui -->
            @if (Model != null && Model.Any())
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    int j = i + 1;
                    <tr>
                        <th scope="row">@j</th>
                        <td id=>
                            @{
                                var diferenca = DateTime.UtcNow - Model[i].Criacao;
                                var formatoDesejado = string.Format("{0} dias, {1} horas, {2} minutos, {3} segundos",
                                                            diferenca.Days,
                                                            diferenca.Hours,
                                                            diferenca.Minutes,
                                                            diferenca.Seconds);
                                @formatoDesejado
                            }
                        </td>
                        <td>@Model[i].Escola</td>
                        <td>@Model[i].Circuito</td>
                        <td>@Model[i].Ip</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/views/aloo/index.js"></script>
}
